/**********************************************************
	fonts
**********************************************************/

@font-face {
	font-family: Bebas Neue;
	src: url(assets/fonts/Bebas Neue/BebasNeue-Regular.otf);
}

@font-face {
	font-family: Hanken;
	src: url(assets/fonts/Hanken/Hanken-Book.ttf);
}

@font-face {
	font-family: Permanent Marker;
	src: url(assets/fonts/Permanent Marker/PermanentMarker-Regular.ttf);
}

/**********************************************************
	color palette
**********************************************************/

/*
	#721817 - prune
	#3E92CC - celestial blue
	#51355A - pineapple
	#2A0C4E - russian violet
	#2A628F - lapis lazuli
*/

/**********************************************************
	global
**********************************************************/

.container {
	width: 95%;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0px;
	margin: 0px;
}

p {
	font-family: avenir, sans-serif;
	font-size: 15.2px;
}

/**********************************************************
	nav
**********************************************************/

.site-brand {
	font-family: Bebas Neue;
	font-size: 40px;
	letter-spacing: 3px;
	color: black;
}

header {
	margin-bottom: -20px;
}

.site-brand:hover {
	text-decoration: line-through;
	color: #51355a;
}

.navbar {
	padding: 5px 0px 2.5px 0px;
	max-width: 1450px;
	display: block;
	margin: inherit auto;
}

.burger {
	height: 4px;
	background-color: black;
	width: 25px;
	border-radius: 1.7px;
	margin: 4px;
	position: relative;
	top: -10px;
	transition: 0.5s;
}

header button {
	background: none;
	border: none;
	position: relative;
	top: 23px;
	z-index: 0;
}

.sidenav {
    height: 100%; 
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
	background: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s; 
}

.closebtn {
	padding-top: 10px;
}

.flex-wrapper {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 80%;
    width: 100%;
    padding: 40px 20px 10px;
    text-align: right;  
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #aaa;
    transition: 0.3s;
    font-family: Hanken;
    font-size: 23px;
}

.sidenav a:hover {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/**********************************************************
	index-hero
**********************************************************/

#hero {
	height: 500px;
	width: 100%;
	display: table;
	text-align: center;
}

#hero {
	background: url('assets/img/desk-turn.jpeg');
	background-size: cover;
	background-attachment: fixed;
	background-position: left center;
	background-repeat: no-repeat;
}

.middle-text {
	display: table-cell;
	vertical-align: middle;
	font-family: Permanent Marker;
}

#hero .middle-text h1 {
	color: white;
	text-shadow: 4px 6px black;	
	font-size: 6.5em;
	letter-spacing: 5px;
	margin-bottom: 40px;
	margin-top: 0px;
}

#hero .middle-text button {
	border: none;
	box-sizing: border-box;
	box-shadow: 3px 3px 0px black;
	background: yellow;
	padding: 15px 20px;
	font-size: 2.8rem;
}

/**********************************************************
	page-wrapper
**********************************************************/

.page-wrapper {
	background: #F3F3F3;
	width: 100%;
	padding: 40px 15px;
}

/**********************************************************
	index-inner
**********************************************************/

.index-inner {
	background: white;
	padding: 15px;
	margin: auto;
	width: 88%;
}

/**********************************************************
	index-feat
**********************************************************/

#index-feat h1 {
	text-align: center;
	font-family: Permanent Marker;
	font-size: 50px;
	color: black;
	text-shadow: 3px 2px white;
	margin: 30px auto;
}

#index-feat iframe {
	max-width: 1000px;
	display: block;
	margin: 35px auto 15px;
}

.feat-img {
	height: 300px;
	max-width: 1000px;
	margin: auto; 
}

#index-feat h2 {
	text-align: center;
	font-family: Permanent Marker;
	font-size: 33px;
	color: black;
	margin: 25px auto 20px;
}

#index-feat p {
	width: 80%;
	max-width: 750px;
	text-align: center;
	margin: 15px auto 20px;
}

/**********************************************************
	media queries
**********************************************************/

@media only screen and (min-width: 900px) {
	.feat-img {
		height: 400px;
	}
} 